.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.business-name-form {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 5vh;
}

.businessname-label {
  font-size: 1.5em;
  padding-right: 1em;
}

.business-name-form__header {
  font-size: 2em;
}

.business-name-form__input {
  font-size: 1.5em;
}

.business-name-form__button {
  font-size: 1.7em;
  margin-left: 1em;
}

.name-list {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 1px black;
}

.name-list__item {
  margin: 1em;
}
